<header>
  <!--NAVBAR STARTING-->
  <nav class="navbar navbar-expand-sm" style = " background-color: #292424;">
    <div class="container" style = "width:50%; height: 100px;">
      <div><img style="height: 100px;" src="../../assets/logo.jpg"></div>
      <div class="alignCenter" style ="width:50%; height: 100%;" >
        <p style="padding-top: 25px; padding-left: 60px; text-shadow: 1px 1px 1px black;
        color:white;font-weight:700; font-size: 36px;  ">Employee Attendance Portal</p>
      </div>
    </div>
  </nav>
</header>